<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EpicorToYooz.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-106.6.10.0" newVersion="106.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <EpicorToYooz.Properties.Settings>
      <setting name="Epicor_Server" serializeAs="String">
        <value>e101.sixspartners.us</value>
      </setting>
      <setting name="Epicor_Instance" serializeAs="String">
        <value>Demo_102400</value>
      </setting>
      <setting name="Epicor_User" serializeAs="String">
        <value>manager</value>
      </setting>
      <setting name="Epicor_Pass" serializeAs="String">
        <value>manager</value>
      </setting>
      <setting name="BAQ_ChartOfAccounts" serializeAs="String">
        <value>YOOZ_ChartOfAccounts</value>
      </setting>
      <setting name="BAQ_Vendors" serializeAs="String">
        <value>YOOZ_Vendors</value>
      </setting>
      <setting name="BAQ_POs" serializeAs="String">
        <value>YOOZ_POs</value>
      </setting>
      <setting name="TempDirectory" serializeAs="String">
        <value>c:\Scratch\</value>
      </setting>
      <setting name="sFTP_URL" serializeAs="String">
        <value>sftp2.justyoozit.com</value>
      </setting>
      <setting name="sFTP_Port" serializeAs="String">
        <value>2222</value>
      </setting>
      <setting name="sFTP_User" serializeAs="String">
        <value>cartieda@374</value>
      </setting>
      <setting name="sFTP_Pass" serializeAs="String">
        <value>Yooz@2015</value>
      </setting>
      <setting name="sFTP_Path_ChartOfAccount" serializeAs="String">
        <value>/OrganisationalUnits/01/import/ACCOUNTS</value>
      </setting>
      <setting name="sFTP_Path_Vendors" serializeAs="String">
        <value>/OrganisationalUnits/01/import/VENDORS</value>
      </setting>
      <setting name="sFTP_Path_POs" serializeAs="String">
        <value>/OrganisationalUnits/01/import/ORDER</value>
      </setting>
      <setting name="FileName_ChartOfAccounts" serializeAs="String">
        <value>ChartOfAccounts.csv</value>
      </setting>
      <setting name="FileName_Vendors" serializeAs="String">
        <value>Vendors.csv</value>
      </setting>
      <setting name="FileName_POs" serializeAs="String">
        <value>POs.csv</value>
      </setting>
      <setting name="Export_ChartOfAccounts_Version" serializeAs="String">
        <value>v20120430</value>
      </setting>
      <setting name="Export_ChartOfAccounts_Header" serializeAs="String">
        <value>ACCOUNTANT_PLAN_TAB			</value>
      </setting>
      <setting name="Export_PO_Version" serializeAs="String">
        <value />
      </setting>
      <setting name="Export_PO_Header" serializeAs="String">
        <value />
      </setting>
      <setting name="Export_Vendor_Version" serializeAs="String">
        <value>v20120430</value>
      </setting>
      <setting name="Export_Vendor_Header" serializeAs="String">
        <value>SUPPLIER_TAB																																						</value>
      </setting>
    </EpicorToYooz.Properties.Settings>
  </applicationSettings>
</configuration>