<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="YoozToEpicor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <YoozToEpicor.Properties.Settings>
            <setting name="Epicor_Server" serializeAs="String">
                <value>QADev</value>
            </setting>
            <setting name="Epicor_Instance" serializeAs="String">
                <value>Epicor10</value>
            </setting>
            <setting name="Epicor_User" serializeAs="String">
                <value>trigem</value>
            </setting>
            <setting name="Epicor_Pass" serializeAs="String">
                <value>sixspartners</value>
            </setting>
            <setting name="TempDirectory" serializeAs="String">
                <value>c:\scratch\Downloads</value>
            </setting>
            <setting name="sFTP_URL" serializeAs="String">
                <value>sftp2.justyoozit.com</value>
            </setting>
            <setting name="sFTP_Port" serializeAs="String">
                <value>2222</value>
            </setting>
            <setting name="sFTP_User" serializeAs="String">
                <value>cartieda@374</value>
            </setting>
            <setting name="sFTP_Pass" serializeAs="String">
                <value>Yooz@2015</value>
            </setting>
            <setting name="sFTP_Path" serializeAs="String">
                <value>/OrganisationalUnits/01/export</value>
            </setting>
            <setting name="Epicor_Company" serializeAs="String">
                <value>ESC</value>
            </setting>
            <setting name="DeleteFTPFilesAfterDownload" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeleteTempFilesAfterProcessing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DevOption_SkipDownloadingNewFiles" serializeAs="String">
                <value>True</value>
            </setting>
        </YoozToEpicor.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-106.6.10.0" newVersion="106.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>